.wrapper {
  background: 0% 0%/ 100% no-repeat url('img/Background.png');
  margin: 10% 0% 0% 6%;
}
.level {
  font: 700 4vw/2.4vw Roboto, arial, helvetica, sans-serif;
  color: #FFF;
  margin: 2% 1.2%;
  letter-spacing: -0.3px;
}
.description {
  font: 400 1vw/1vw Roboto, arial, helvetica, sans-serif;
  color: #FFF;
  margin-left: 1%;
  letter-spacing: 2.5px;
  margin-bottom: 6%;
}
.simple {
  font: 700 3vw/2.4vw Roboto, arial, helvetica, sans-serif;
  color: #FFF;
  margin-left: 5%;
  letter-spacing: 3px;
}
.simple:hover {
  cursor: pointer;
  width: 120px;
  height: 120px;
  background: #D62B2E;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
}
.average {
  font: 700 3vw/2.4vw Roboto, arial, helvetica, sans-serif;
  color: #FFF;
  margin-left: 5%;
  letter-spacing: 3px;
  margin-bottom: 4%;
}
.average:hover {
  cursor: pointer;
}
.hard {
  font: 700 3vw/2.4vw Roboto, arial, helvetica, sans-serif;
  color: #FFF;
  margin-left: 5%;
  letter-spacing: 3px;
  margin-bottom: 12%;
}
.hard:hover {
  cursor: pointer;
}
.card_one {
  background: 0% 0%/ 20% no-repeat url('img/card_1.png');
}
.button-begin {
  font: 400 2.1vw/1vw Roboto, arial, helvetica, sans-serif;
  color: #FFF;
  padding: 2% 6.4% 2.1% 7%;
  text-decoration: none;
  background-color: red;
  margin-left: 1.1%;
}
